<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diretivas: v-for</title>
</head>
<body>

    <div id="app">

        <h2>Cidades do Mundo</h2>
        <ol>
            <!-- <li v-for="city in cities1">{{city}}</li> --> 
            <li v-for="item in cities2">
                {{item.city}} - {{item.country}}
            </li>       
        </ol>

        <h2>Grandes Filmes da História</h2>
        <ul>
            <li v-for="(movie, index) in movies">{{index}} {{movie}}</li>
        </ul>

        <h2>Empresa</h2>
        <p v-for="(value, key, index) in company">{{key}} : {{value}}</p>
      
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script>

    <script>
        let app = new Vue({
            el:"#app",
            data:{
               /* cities1: ['New York', 'São Paulo', 'Londres', 'Tokyo'], */
               cities2: [{
                   city: 'New York',
                   country: 'USA'
               },
               {
                   city: 'São Paulo',
                   country: 'BRA'
               },
               {
                   city: 'Londres',
                   country: 'UK'
               },
               {
                   city: 'Tokyo',
                   country: 'JAP'
               }],

               movies: [ 'Star Wars', 'Jurassic Park', 'De Volta para o Futuro'],

               company: {
                   name: 'Facebook',
                   year: 2004,
                   creator: 'Mark '
               }
            }
        })
    </script>
</body>
</html>