<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estilo em linha</title>
</head>
<body>
    <div id="app">

        <input v-model="fontSizeProp" type="text">

       <h1 :style="{fontSize: fontSizeProp + 'px'}">Mateus Borges</h1>

       <hr>

       <input v-model="styleRed" type="number" name="vermelho" id="">
       <input v-model="styleGreen" type="number" name="verde" id="">
       <input v-model="styleBlue" type="number" name="azul" id="">

       <div :style="styleRgb">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus deleniti veritatis iste, quos minima veniam 
        labore placeat sint doloremque sapiente atque repellendus voluptatum unde, dolor ea. Iure vel perspiciatis inventore?</div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6"></script>
    <script>
        let app = new Vue({
            el:"#app",
            data:{
                fontSizeProp: 20,
                styleRed: 300 ,
                styleGreen: 200 ,
                styleBlue: 120
            },
            computed:{
                styleRgb(){
                    return `color: rgb(${this.styleRed}, ${this.styleGreen}, ${this.styleBlue})`
                }
            }
        })

    </script>
</body>
</html>